{% extends 'base.html' %}


{% block 'content' %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto p-4">
            <h3 class="border-bottom pb-2">Create User Account</h3>
            
            <form method='post' class="p-4">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock 'content' %}